body {
    background: #000000;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.app-window {
    height: 100svh;
    min-height: 200px;
    background: #111;
    display: grid;
    grid-template-rows: auto 90px 1fr 45px 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header header header header"
        "menu menu menu menu menu menu"
        "col1 col2 col3 col4 col5 col6"
        "hex1 hex2 hex3 hex4 hex5 col6"
        "footer footer footer footer footer footer";
    align-items: center;
    justify-items: center;
}

header {
    box-sizing: border-box;
    width: 100%;
    grid-area: header;
    padding: 1em;
    margin: 0;
    color: #fff;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    max-width: 550px;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 45px;
    margin-right: 0.5em;
}

.logo-txt {
    margin: 0;
}

.subheading {
    color: #ccc;
    width: 100%;
    max-width: 550px;
    margin: 0;
}

form {
    grid-area: menu;
    width: 100%;
    max-width: 550px;
    padding: 24px 0;
    box-sizing: border-box;
    display: grid;
    gap: 12px;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 4fr 2fr;
}

input, select, button {
    cursor: pointer;
}

.app-window input {
    width: 100%;
    height: 43px;
}

.app-window select {
    font-size: 1rem;
    padding-left: 0.5em;
    color: #D5D4D8;
    background: #333;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}

.app-window button {
    font-size: 0.9rem;
    color: #fff;
    background: #444;
    border: none;
    border-radius: 6px;
}

.app-window button:hover {
    background: #555;
}

.color-hex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: #ccc;
    cursor: pointer;
}

#color-1,
#color-2,
#color-3,
#color-4,
#color-5,
#color-6 {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#color-1 {
    background: #05394F;
}

#color-2 {
    background: #065678;
}

#color-3 {
    background: #0873A1;
}

#color-4 {
    background: #0990CA;
}

#color-5 {
    background: #0AAEF4;
}

#color-6 {
    background: #30BCF8;
}

footer {
    width: 100%;
    height: 100%;
    color: #999;
    background-color: #222;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 580px)  {
    .app-window {
        min-height: 600px;
        grid-template-rows: auto auto 1fr 45px 1fr 45px 35px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "header header header"
            "menu menu menu"
            "col1 col2 col3"
            "hex1 hex2 hex3"
            "col4 col5 col6"
            "hex4 hex5 hex6"
            "footer footer footer";
        align-items: center;
        justify-items: center;
    }

    #color-1 {
        grid-area: col1;
    }
    #color-2 {
        grid-area: col2;
    }
    #color-3 {
        grid-area: col3;
    }
    #color-4 {
        grid-area: col4;
    }
    #color-5 {
        grid-area: col5;
    }
    #color-6 {
        grid-area: col6;
    }

    #color-1-hex {
        grid-area: hex1;
    }
    #color-2-hex {
        grid-area: hex2;
    }
    #color-3-hex {
        grid-area: hex3;
    }
    #color-4-hex {
        grid-area: hex4;
    }
    #color-5-hex {
        grid-area: hex5;
    }
    #color-6-hex {
        grid-area: hex6;
    }

    .subheading {
        font-size: 0.9rem;
    }

    form {
        padding-inline: 1em;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
        "input dropdown"
        "button button";
    }
    
    form button {
        grid-area: button;
    }
}


.copied-modal {
    display: none;
    padding: 0.5em 1em;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px #00000099;
}